<div style="border:1em">
    <button ng-click="addSourceArea()">Add Source Area</button>
</div>
<div class="parent">
  <source ng-repeat="source in layoutObject" source-data="source" />
</div>
<div id="dialogWindow" jui-dialog jui-options='{
        "dialog": {
            "autoOpen": false,
            "modal": true,
            "resizable": false,
            "draggable": false
        }
    }'>
    <fieldset>
        <label for="k">X:</label>
        <input id="k" type="text">
    </fieldset>
</div>
</div>